header{
    background-color: transparent;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
    transition: background-color .4s ease-in-out;
    backdrop-filter: blur(2px);
}

header .headerLogo{
    filter: brightness(0);
    transition: filter .4s ease-in-out;
}

header.scrolled .headerLogo{
    filter: brightness(0) invert(1);
}

.headerSignUp{
    margin-left:auto;
    padding: 5px;
    background: transparent;
    font-family: Cambria;
    border:none;
    transition: .4s all ease-in-out;
}

header.scrolled .headerSignUp{
    background: white;
    padding: 10px;
    transform: translateX(-50px);
    transition: .4s all ease-in-out;
    margin-right: 0;

}
.headerCreateBlog{
    transform: translateX(100%);
    transition: .4s all ease-in-out;
}
header.scrolled .headerCreateBlog{
    transition: .4s all ease-in-out;
    transform: translateX(0%);
    border: none;
    height: 40px;
    font-family: Cambria;
    margin: 0 20px 0 0;
    padding: 10px;
}

form {
    display: contents; /* Makes the form behave like its child elements */
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header.scrolled{
    background-color: black;
    opacity: 0.9;
}
header nav{
    padding: 1.5em 0 1.5em 5em;
}

header nav a{
    text-decoration: none;
    color: black;
    font-size: 1.3em;
    margin: 1em;
    transition: color .4s ease-in-out;
}

header.scrolled nav a{
    color: white;
}

a{
    position: relative;
    display: inline-block;
}
header nav a::before{
    content: "";
    position: absolute;
    bottom: -5px;
    width: 0%;
    height: 3px;
    background-color: black;
    transition: .4s all ease-in-out;
}

header nav a:hover::before{
    width: 100%;
}

header.scrolled nav a:hover::before{
    width: 100%;
    background-color: white;
}


body {
    overflow-x: hidden;
}

  #createBlogDiv{
    max-width: 1950px;
    height: 100vh;
    background-image: url("img1.jpg");
      overflow:hidden;
    background-repeat: no-repeat;
      margin: 0;

  }

  #perfectDesign{
      max-width: 1950px;
      height: 700px;
      display: flex;
      justify-content: space-around;
      gap: 20px;
      align-items: center;

  }

#creativeDesign{
    max-width: 1950px;
    height: 700px;
    background-repeat: no-repeat;
    background-image: url("thirdImage.jpg");
    overflow: hidden;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;


}

#community{
    max-width: 1950px;
    height: 700px;
    background: white;
    display: flex;
    justify-content: space-between;
}

#earn{
    max-width: 1950px;
    height: 700px;
    position: relative;
    z-index: 1;
}

.createBlogcreativeDesign{
    margin-left: 100px;
    border-radius: 20px;
    background-color: white;
    color: black;
    border: 2px solid gray;
    width:120px;
    height: 50px;
    font: 20px "sans-serif";
    padding: 10px;
}



  .createBlog {
      position: relative;
      top: 380px;
      left: 50vw;
      border-radius: 20px;
      border: 2px solid #4DA1A9;
      height: 50px;
      font: 20px "sans-serif";
      padding: 10px;

  }

.createBlogDark {
    border-radius: 20px;
    background-color: black;
    color: white;
    border: 2px solid gray;
    height: 50px;
    font: 20px "sans-serif";
    padding: 10px;
    margin-left: 100px;
    margin-bottom: 100px;

}

  #laptopRight img{
      height: 400px;
      width: 600px;
      object-fit: contain;
      border-radius: 10%;
      margin-left: 100px;
      margin-right: 20px;
      box-shadow: 4px 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .paragraphPerfectDesign{
      margin-left: 100px;
      margin-bottom: 50px;
  }


 #whyChoose{
     background-color: #04042b;
     height: 700px;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 #whyChoose img{
     height: 400px;
     width: 600px;
     border-radius: 30px;
     margin: 40px 10px 10px 30px;
     box-shadow: 4px 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }

 .textCol
 {
     display: flex;
     padding: 50px;
     justify-content: center;
     flex-direction: column;
     margin-right: 400px;
 }

 .collapsible{
     max-width: 600px;
     overflow: hidden;
     font-weight: 500;
     border-radius: 10px;
 }
.collapsible input{
    display: none;
}
 .collapsible label{
     position: relative;
     font-weight: 600;
     background: #04042b;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
     color: WHITE;
     display: block;
     margin-bottom: 10px;
     cursor: pointer;
     border-radius: 4px;
     z-index: 1;
     margin-left: 5px;
 }

 .collapsible label:after{
     content: "";
     position: absolute;
     right: 15px;
     top: 20px;
     width: 18px;
     height: 18px;
     background: url("reshot-icon-arrow-chevron-right-WDGHUKQ634.svg")no-repeat 0 0;
     background-size: contain;
     filter: invert(1);
     transition: all 0.3s ease;

 }

 .collapsible input:checked+label:after{
     transform: rotate(90deg);
 }

 .collapsible-text{
     max-height: 1px;
     overflow: hidden;
     border-radius: 4px;
     line-height: 1.4;
     position: relative;
     top: -100%;
     opacity: 0.5;
     transition: all 0.3s ease;
 }

 .collapsible input:checked~ .collapsible-text{
     max-height: 300px;
     padding-bottom: 25px;
     background: #04042b;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     opacity: 1;
     top: 0;

 }

 .collapsible-text p{
     padding-left: 15px;
     padding-right: 15px;
     color: white;
 }

 hr{
     color: white;
     border-top: 2px solid white;
 }

 /*scroll Transition code*/
.hiddenPop{
    z-index: 0;
    filter: blur(5px);
    transition: .5s ease-in-out;
    transform: translateY(100%);
}

.showPop{
    filter: blur(0px);
    transition: .5s ease-in-out;
    transform: translateY(0%);
    z-index: 1;
}
.hiddenLeft{
    opacity: 0;
    transform: translateX(-100%);
    filter: blur(5px);
    transition: .5s all ease-in-out;

}

.hiddenRight{
    opacity: 0;
    transform: translateX(100%);
    filter: blur(5px);
    transition: .5s all ease-in-out;
}

.showLeft{
    opacity: 1;
    transform: translateX(0%);
    filter: blur(0px);
    transition: .5s all ease-in-out;

}

.showRight{
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0%);
    transition: 1s all ease-in-out;
}

#Bottom-info-part{
    width: 100%;
    background: #191919;
    height: 700px;
    display: flex;
    flex-direction: column;
}

footer .rows{
    margin-top: 150px;
    display: flex;
    justify-content: space-evenly;
}

footer .colRows{
    color: #d1d1d1;
}







@media(prefers-reduced-motion){
    .hiddenLeft{
        transition: none;
    }

    .hiddenRight{
        transition: none;
    }
}
















  
  
  /*mobile devices*/
@media (max-width: 1120px) {
    #perfectDesign{
        display: flex;
        gap:5px;
        flex-wrap: wrap;
    }

    #laptopRight img{
        height: 400px;
        width: 600px;
        object-fit: contain;
        border-radius: 10%;
        margin-left: 80px;
        box-shadow: 4px 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .paragraphPerfectDesign{
        margin-left: 100px;
        margin-bottom: 5px;
    }

    .createBlogDark {
        border-radius: 20px;
        background-color: black;
        color: white;
        border: 2px solid gray;
        height: 50px;
        font: 20px "sans-serif";
        padding: 10px;
        margin-left: 100px;
        margin-bottom: 20px;
        margin-top: 20px;

    }

    #creativeDesign{
        margin-top: 200px;
    }



}

