.button1 {
    align-self: flex-end;
    position: relative;
    margin-bottom: 20px;
    height: 42px;
    width: 80px;
    margin-top: 30px;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
  }
  .button1 a {
    font-style: none;
  }

  .button1 a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    height: 80%;
    width: 100px;
    background-color: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 5px;
    font-weight: 600;
    z-index: 1;
  }
  .button1 a::before {
    left: 0;
    top: 0;
    position: absolute;
    content: "";
    background-color: #081b29;
    height: 100%;
    width: 0;
    z-index: -1;
    transition: width 0.4s ease-in-out;
  }
  .button1 a:hover::before {
    width: 100%;
  }

  .button1 a:hover {
    color: white;
  }