body{
    background: rgb(240, 240, 240);
}

label{
    display: block;
    font-family: Cambria;
    font-size: large;
    /* font-weight:500; */
    margin-bottom: 15px;
}
input{
    width: 750px;
    height: 30px;
    padding: 10px;
    font-size: medium;
}

.Post{
    background: white;
    border-radius: 5px;
    border: 1px solid gray;
    font-family: Cambria;
    font-size: large;
    padding: 10px;
    width: 200px;
    height: 60px;
   margin: 50px;
}

.Post:hover{
    filter:invert();
}

.form-group textarea{
    resize: none;
    width: 750px;
    height: 150px;
}

label[for="twitter_link"]::after
{
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    margin-left: 10px;
    background: url("twitter.svg");
    background-size: contain;

}

label[for="instagram_link"]::after
{
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    background: url("instagram.png");
    background-size: contain;

}

label[for="youtube_link"]::after
{
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    background: url("youtube.png");
    background-size: contain;

}
.file-input {
    display: none; 
}

.file-input-label {
    display: inline-block;
    width: 350px;
    height: 350px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
    border-radius: 50%;
}

.file-input-label:hover {
    opacity: 0.8;
}

.imageSelection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-group img{
    width: 350px;
    border-radius: 50%;
}
