body{
    background: rgb(240, 240, 240);
}

label{
    display: block;
    font-family: Cambria;
    font-size: large;
    /* font-weight:500; */
    margin-bottom: 15px;
}
input{
    width: 750px;
    height: 30px;
    padding: 10px;
    font-size: medium;
}

.Post{
    background: white;
    border-radius: 5px;
    border: 1px solid gray;
    font-family: Cambria;
    font-size: large;
    padding: 10px;
    width: 200px;
    height: 60px;
}

.Post:hover{
    filter:invert();
}
