body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    position: relative;
    background: url("loginPageBackground.jpg");
    background-size: cover;
    position: relative;
}
.textArea{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 20px;
}

.innerContainer{
    display: flex;
    position: relative;
}

.plus{display: none;}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    backdrop-filter: blur(20px);
    position: relative;
    border-radius: 20px;
}

hr{
    width: 100%;
}

form{
    display: contents;
}

.rightSide{
    width: 250px;
    height: 50px;
}

button{
    background-color: white;
    border-radius: 10px;
    border: 1px solid gray;
}

button:hover{
    filter: invert();
    transition: filter 0.2s;
}

.createAccount{
    position: absolute;
    top: 0;
    right:0;
    font-family: Cambria;
    font-size: 15px;
    background-color: white;
    border: none;
    padding:20px;
    margin: 20px;
    margin-right: 50px;
}
label{
    font-family: Cambria;
    margin-bottom: 10px;
}

input {
    margin-bottom: 10px;
    width: 285px;
    height: 30px;
    padding: 15px;
    border: none;border-bottom: 1px solid gray;
}

.login{
    width: 200px;
    height: 50px;
    font-family: Cambria;
    font-size: large;
}

.rightButtonGroup{
    margin-top: 40px;
    margin-left: 20px;
}

span{
    font-family: "Cambria Math";
}

.create{
    position: relative;
    margin-right: 75%;
    width: 120px;
    height: 50px;
}


@media(max-width: 681px)
{
    .horizontalLine{
        background-color: white;
    }
    .plus{
        display: inline-block;
        background: url("plus1.svg");
        background-color: transparent;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 0;
        right: 0;
        margin: 30px 20px auto auto;
        border: none;
        border-radius: 50%;
    }
    .verticalLine{
        display: none;
    }

    .innerContainer{
        display: flex;
        flex-direction: column;
    }

    .rightButtonGroup{
        margin-top: 10px;
    }

    .create{
        position: relative;
        margin-right: 25%;
        width: 120px;
        height: 50px;
        margin-left: 50px;
    }

    .innerContainer{
        justify-content: center;
    }
}

