{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" href="{% static 'inkpot.png' %}" type="image/x-icon" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <meta charset="UTF-8" />
    <title>{{ post.title }}</title>
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    {% tailwind_css %} {% load static %}
  </head>
  <body class="min-h-screen flex flex-col">
    {% include 'nav.html' %}
    <div class="flex-grow grid grid-rows-[400px_auto] min-h-[800px]">
      <div
        class="w-full h-full max-h-[650px] relative bg-cover bg-center flex justify-center items-center"
        style="background-image: url('{%static 'bg.jpg'%}')"
      >
        <div
          class="w-4/5 md:w-2/5 h-3/5 rounded-2xl backdrop-blur-sm bg-black/50 flex justify-center items-center flex-col sm:px-10 px-5"
        >
          <a
            href="{% url 'show_profile_page' post.author.profile.id%}"
            style="font-family: lato"
            class="text-gray-300 text-4xl font-bold mb-5 cursor-pointer hover:text-white"
          >
            {{post.author | upper}}
          </a>
          <h1
            style="font-family: lato"
            class="text-gray-300 text-xl font-normal mb-5"
          >
            {{post.author.profile.blogcaption}}
          </h1>
        </div>
      </div>
      <div class="grid grid-rows-[1fr_auto] ml:grid-cols-[2fr_1fr] w-full px-7">
        <div class="w-full py-10 ml:px-20">
          <h1 style="font-family: lato" class="text-4xl font-bold mb-3">
            {{post.title}}
          </h1>
          <h2
            style="font-family: lato"
            class="text-1xl font-normal text-slate-500 mb-10"
          >
            {{post.post_date}}
          </h2>
          <h1 style="font-family: lato" class="text-3xl font-bold mb-1">
            {{post.author}}
          </h1>
          <h1 class="text-xl font-normal text-slate-500 mb-10">
            #{{post.category}}
          </h1>
          <h1>
            Hashtags - {% if post.tags %} {% for tag in post.tags.all %}
            <a href="{% url 'categories' tag %}">#{{tag}}</a>
            {% endfor %} {% endif %}
          </h1>
          <p class="text-slate-500 sm:text-lg text-md">{{post.body|safe}}</p>
          <h1 class="text-3xl font-bold mt-10 mb-10s">Stay Connected</h1>
          <h1 class="text-xl font-semibold" style="font-family: lato">
            Follow us:&nbsp;<a href="{{post.author.profile.instagram_link}}"
              >@{{post.author}}</a
            >
          </h1>
          <h1 class="mb-5">Word Count: {{total_words}}</h1>
          <form
            action="{% url 'like_post' post.pk %}"
            method="post"
            id="like-form"
          >
            {% csrf_token %}
            <button
              type="submit"
              name="post_id"
              value="{{ post.id }}"
              id="LikeButton"
            >
              {% if not has_liked %}
              <i
                id="like-icon"
                class="bx bx-like text-2xl translate-y-1/4 text-black bg-white px-2 py-1 rounded-md"
              ></i>
              {%else%}
              <i
                id="like-icon"
                class="bx bx-like text-2xl translate-y-1/4 text-white bg-blue-600 px-2 py-1 rounded-md"
              ></i>
              {% endif %}
            </button>
            <label style="margin-top: 10px" for="LikeButton"
              >&nbsp;-
              <span id="like-number">{{total_likes}}</span> Likes</label
            >
          </form>

          <p>
            Share on :
            <a
              href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}"
              target="_blank"
              ><i
                class="bx bxl-facebook-circle text-blue-600 text-4xl translate-y-1/4"
              ></i
            ></a>
            <a
              href="https://api.whatsapp.com/send?text=Check this out: {{ request.build_absolute_uri }}"
              target="_blank"
            >
              <i
                class="bx bxl-whatsapp text-green-500 text-4xl translate-y-1/4"
              ></i>
            </a>
            <a
              href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}&text=Check this out!"
              target="_blank"
              ><i
                class="bx bxl-twitter text-cyan-400 text-4xl translate-y-1/4"
              ></i
            ></a>
          </p>
        </div>
        <div>
          <h1 style="font-family: lato" class="mt-10 font-bold text-4xl">
            Related Posts
          </h1>
          <div
            class="w-full grid grid-rows-[auto_auto] grid-cols-[auto_auto] sm:flex sm:flex-wrap sm:gap-0 py-10 mb-10 relative"
          >
            {% for post in related_posts%}
            <div
              class="blog-cards w-full sm:w-[40%] hover:scale-[1.05] transition-transform duration-300 mx-1"
            >
              <a href="{% url 'ArticleDetailView' post.id%}">
                <div
                  class="relative flex flex-col my-1 bg-white shadow-sm border border-slate-200 rounded-lg w-full"
                >
                  <div
                    class="relative h-1/2 overflow-hidden text-white rounded-md"
                  >
                    <img
                      src="{% if post.thumbnail %}
              {{ post.thumbnail.url }}
              {% else %}/media/thumbnail/thumbnail.jpg
              {% endif %}"
                      alt="card-image"
                    />
                  </div>
                  <div class="p-4">
                    <div
                      class="mb-4 rounded-full bg-cyan-600 py-0.5 px-2.5 border border-transparent text-xs text-white transition-all shadow-sm w-20 text-center"
                    >
                      POPULAR
                    </div>
                    <h6 class="mb-2 text-slate-800 text-xl font-semibold">
                      {{post.title}}
                    </h6>
                    <p class="text-slate-600 leading-normal font-light">
                      {{post.articleSnippet}}
                    </p>
                  </div>

                  <div class="flex items-center justify-between p-4">
                    <div class="flex items-center">
                      <img
                        alt="Tania Andrew"
                        src="{% if post.author.profile.profileImage %}
            {{ post.author.profile.profileImage.url }}
            {% else %}/media/thumbnail/thumbnail.jpg
            {% endif %}"
                        class="relative inline-block h-8 w-8 rounded-full"
                      />
                      <div class="flex flex-col ml-3 text-sm">
                        <span class="text-slate-800 font-semibold"
                          >{{post.author}}</span
                        >
                        <span class="text-slate-600"> {{post.date}} </span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="flex-grow flex flex-col">
      <!-- for each comment logic here  -->
      <h1 class="text-4xl text-blue-700 pl-10 font-semibold mb-5 ml:pl-[100px]">
        {{comments_number}}&nbsp;Comments
      </h1>
      <hr class="mx-10 mb-5" />
      <div class="pl-10 ml:pl-[100px] relative">
        {% if request.user.is_authenticated %}
        <form method="POST" id="comment-form">
          <div class="flex flex-col">
            {% csrf_token%} <label for="comment-text">Your Comment</label
            ><br />{{form.body}}
            <div class="flex mt-5">
              <button
                type="submit"
                class="text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 right:0 w-[100px]"
              >
                Comment
              </button>
              <button
                type="button"
                class="text-white bg-gradient-to-r from-red-500 to-orange-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 w-[100px]"
                onclick="document.getElementById('comment-text').value = ''"
              >
                Clear
              </button>
            </div>
          </div>
        </form>
        {% endif %}
        <br />
        <div class="mt-10" id="comments">
          {% for comment in comments %} {% if comment.post == current_post %}
          <div class="grid grid-cols-[80px_auto_80px] mb-5">
            <div class="w-full">
              <a href="{% url 'show_profile_page' comment.user.profile.id %}">
                <img
                  class="size-10 rounded-full border-[1px] border-solid border-blue-950"
                  src="{% if comment.user.profile.profileImage %}{{ comment.user.profile.profileImage.url }}{% else %}/media/thumbnail/thumbnail.jpg{% endif %}"
                  alt=""
                />
              </a>
            </div>
            <div class="flex flex-col gap-2">
              <div>
                @
                <a href="{% url 'show_profile_page' comment.user.id %}"
                  >{{ comment.user }}</a
                >
                - {{ comment.comment_date }}
              </div>
              {{ comment.body }}
              <div class="flex">
                <!-- like Logic  -->
                <form
                  method="POST"
                  class="comment-like-form"
                  data-comment-id="{{ comment.id }}"
                  data-url="{% url 'comment_like' comment.id %}"
                >
                  {% csrf_token %}
                  <button type="submit">
                    <i
                      class="bx bx-like mr-5 comment-like-button {% if user in comment.likes.all %} text-white bg-blue-600 {% else %} text-black bg-white {% endif %} p-1 rounded-md"
                      data-comment-id="{{ comment.id }}"
                    >
                    </i>
                    <span
                      class="comment-like-number"
                      data-comment-id="{{ comment.id }}"
                    >
                      {{ comment.likes.count }}
                    </span>
                  </button>
                </form>

                <!-- dislike logic -->
                <form
                  method="POST"
                  class="comment-dislike-form"
                  data-comment-id="{{ comment.id }}"
                  data-url="{% url 'comment_dislike' comment.id %}"
                >
                  {% csrf_token %}
                  <button type="submit">
                    <i
                      class="bx bx-dislike mr-5 comment-dislike-button {% if user in comment.dislikes.all %} text-white bg-red-600 {% else %} text-black bg-white {% endif %} p-1 rounded-md"
                      data-comment-id="{{ comment.id }}"
                    >
                    </i>
                    <span
                      class="comment-dislike-number"
                      data-comment-id="{{ comment.id }}"
                    >
                      {{ comment.dislikes.count }}
                    </span>
                  </button>
                </form>
              </div>
            </div>

            <div class="items-center flex">
              <button
                id="dropdownMenuIconButton"
                data-dropdown-toggle="dropdownDots"
                class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-900 bg-white"
                type="button"
              >
                <svg
                  class="w-5 h-5"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 4 15"
                >
                  <path
                    d="M3.5 1.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Zm0 6.041a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Zm0 5.959a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Z"
                  />
                </svg>
              </button>

              <!-- Dropdown menu -->
              <div
                id="dropdownDots"
                class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-44"
              >
                <ul
                  class="py-2 text-sm text-gray-800 bg-gray-200 rounded-md"
                  aria-labelledby="dropdownMenuIconButton"
                >
                  <p>{{request.user}} {{comment.user.username}}</p>
                  {% if request.user == comment.user.username %}
                  <li>
                    <a href="#" class="block px-4 py-2 hover:bg-gray-100"
                      >Edit</a
                    >
                  </li>
                  <li>
                    <a
                      href="#"
                      class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                      >Delete</a
                    >
                  </li>
                  {% else %}
                  <li>
                    <a
                      href="#"
                      class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                      >Report</a
                    >
                  </li>
                  {% endif %}
                </ul>
              </div>
            </div>
          </div>
          {% endif %} {% endfor %}
        </div>
      </div>
    </div>
    {% include 'footerCode.html' %} {% include 'comment.html'%} {% include
    'like.html'%}

    <!-- like post -->
    <script>
      $("#like-form").on("submit", function (e) {
        e.preventDefault();
        $.ajax({
          url: "{% url 'like_post' post.id%}",
          type: "POST",
          data: {
            post_id: "{{current_post.id}}",
            csrfmiddlewaretoken: "{{csrf_token}}",
          },
          success: function (response) {
            if (response.success) {
              if (response.liked) {
                $("#like-icon")
                  .removeClass("text-black bg-white")
                  .addClass("text-white bg-blue-600");
                $("#like-number").text(response.likes);
              } else {
                $("#like-icon")
                  .removeClass("text-white bg-blue-600")
                  .addClass("text-black bg-white");
                $("#like-number").text(response.likes);
              }
            }
          },
        });
      });
    </script>

    <!-- like comment -->
    <script>
      $(document).on("submit", ".comment-like-form", function (e) {
        e.preventDefault();

        var form = $(this);
        var url = form.data("url");

        $.ajax({
          url: url,
          type: "POST",
          data: {
            csrfmiddlewaretoken: "{{ csrf_token }}",
          },
          success: function (response) {
            if (response.success) {
              var likeButton = form.find(".comment-like-button");
              var likeNumber = form.find(".comment-like-number");
              var dislikeForm = form.siblings(".comment-dislike-form");
              var dislikeButton = dislikeForm.find(".comment-dislike-button");
              var dislikeNumber = dislikeForm.find(".comment-dislike-number");

              if (response.liked) {
                likeButton
                  .addClass("text-white bg-blue-600")
                  .removeClass("text-black bg-white");
              } else {
                likeButton
                  .addClass("text-black bg-white")
                  .removeClass("text-white bg-blue-600");
              }

              if (response.removeDisliked) {
                dislikeButton
                  .addClass("text-black bg-white")
                  .removeClass("text-white bg-red-600");
              }

              likeNumber.text(response.likes);
              dislikeNumber.text(response.dislikes);
            }
          },
        });
      });
    </script>

    <!-- dislike comment -->
    <script>
      $(document).on("submit", ".comment-dislike-form", function (e) {
        e.preventDefault();

        var form = $(this);
        var url = form.data("url");

        $.ajax({
          url: url,
          type: "POST",
          data: {
            csrfmiddlewaretoken: "{{ csrf_token }}",
          },
          success: function (response) {
            if (response.success) {
              var dislikeButton = form.find(".comment-dislike-button");
              var dislikeNumber = form.find(".comment-dislike-number");
              var likeForm = form.siblings(".comment-like-form");
              var likeButton = likeForm.find(".comment-like-button");
              var likeNumber = likeForm.find(".comment-like-number");

              if (response.disliked) {
                dislikeButton
                  .addClass("text-white bg-red-600")
                  .removeClass("text-black bg-white");
              } else {
                dislikeButton
                  .addClass("text-black bg-white")
                  .removeClass("text-white bg-red-600");
              }

              if (response.removeLiked) {
                likeButton
                  .addClass("text-black bg-white")
                  .removeClass("text-white bg-blue-600");
              }

              dislikeNumber.text(response.dislikes);
              likeNumber.text(response.likes);
            }
          },
        });
      });
    </script>

    <!-- reply comment  -->
    <script></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
  </body>
</html>
