<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'blogHome.css'%}" />
  </head>
  <body>
    {% include 'nav.html'%}
    <div
      class="Featured"
      style="display: flex; flex-direction: column; align-items: center"
    >
      <div class="carouselcontainer" style="transform: scale(1.1)"></div>
    </div>
    <div class="CardContainer">
      {% for post in object_list %}
      <div class="item">{% include 'testCard.html' %}</div>
      {% endfor %}
    </div>

    <button id="show-more">Show More</button>

    {% include 'footer.html' %}
    <script>
      //show More Logic
      document.addEventListener("DOMContentLoaded", function () {
        const items = document.querySelectorAll(".CardContainer .item");
        const showMoreButton = document.getElementById("show-more");
        let visibleCount = 5;

        // Initially show the first 7 items
        for (let i = 0; i < visibleCount; i++) {
          if (items[i]) {
            items[i].classList.add("visible");
          }
        }

        showMoreButton.addEventListener("click", function () {
          // Show 7 more items each time the button is clicked
          const nextVisibleCount = visibleCount + 5;
          for (let i = visibleCount; i < nextVisibleCount; i++) {
            if (items[i]) {
              items[i].classList.add("visible");
            }
          }
          visibleCount = nextVisibleCount;

          // Hide the button if there are no more items to show
          if (visibleCount >= items.length) {
            showMoreButton.style.display = "none";
          }
        });
      });
    </script>
  </body>
</html>
