<div
  class="max-w-sm w-full shadow-md hover:scale-[1.05] transition-transform duration-300 flex flex-col"
>
  <!-- Image Section -->
  <div
    class="h-48 bg-cover rounded-t text-center overflow-hidden"
    style="background-image: url('{% if post.thumbnail %}{{ post.thumbnail.url }}{% else %}/media/thumbnail/thumbnail.jpg{% endif %}')"
    title="{{ post.title }}"
  ></div>

  <!-- Content Section -->
  <div
    class="blog-cards border border-gray-300 bg-white rounded-b p-4 flex flex-col justify-between flex-grow"
  >
    <div class="mb-4">
      <a href="{% url 'ArticleDetailView' post.id %}">
        <h3 class="text-gray-900 font-bold text-xl hover:text-cyan-600">
          {{ post.title }}
        </h3>
      </a>
      <p class="text-sm text-blue-600 font-semibold flex items-center mb-2">
        <!-- prettier-ignore -->
        {% for tag in post.tags.all|slice:":3" %} #{{tag.tag}}&nbsp;
                {% endfor %}
      </p>
      <p class="text-gray-700 text-sm line-clamp-3">
        {{ post.articleSnippet }}
      </p>
    </div>

    <!-- Author Section -->
    <div class="flex items-center">
      <a
        href="{% url 'show_profile_page' post.author.profile.id %}"
        class="flex items-center"
      >
        <img
          class="w-10 h-10 rounded-full mr-3"
          src="{% if post.author.profile.profileImage %}{{ post.author.profile.profileImage.url }}{% else %}/media/thumbnail/thumbnail.jpg{% endif %}"
          alt="Author Image"
        />
        <div class="text-sm">
          <p class="text-gray-900 font-semibold">{{ post.author }}</p>
          <p class="text-gray-600">{{ post.post_date }}</p>
        </div>
      </a>
    </div>
  </div>
</div>
