<a href="javascript:void(0)">
  <div
    class="relative flex flex-col my-6 bg-white shadow-sm border border-slate-200 rounded-lg w-96"
  >
    <div class="relative h-56 m-2.5 overflow-hidden text-white rounded-md">
      <img
        src="{% if post.thumbnail %}
                {{ post.thumbnail.url }}
                {% else %}/media/thumbnail/thumbnail.jpg
                {% endif %}"
        alt="card-image"
      />
    </div>
    <div class="p-4">
      <div
        class="mb-4 rounded-full bg-cyan-600 py-0.5 px-2.5 border border-transparent text-xs text-white transition-all shadow-sm w-20 text-center"
      >
        POPULAR
      </div>
      <h6 class="mb-2 text-slate-800 text-xl font-semibold">{{post.title}}</h6>
      <p class="text-slate-600 leading-normal font-light">
        {{post.articleSnippet}}
      </p>
    </div>

    <div class="flex items-center justify-between p-4">
      <div class="flex items-center">
        <img
          alt="Tania Andrew"
          src="{% if post.author.profile.profileImage %}
                {{ post.author.profile.profileImage.url }}
                {% else %}/media/thumbnail/thumbnail.jpg
                {% endif %}"
          class="relative inline-block h-8 w-8 rounded-full"
        />
        <div class="flex flex-col ml-3 text-sm">
          <span class="text-slate-800 font-semibold">{{post.author}}</span>
          <span class="text-slate-600"> {{post.post_date}} </span>
        </div>
      </div>
    </div>
  </div>
</a>
