<head>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css"
    rel="stylesheet"
  />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
</head>
<div id="split-carousel" class="relative w-full h-full" data-carousel="slide">
  <h3
    class="text-2xl font-bold text-blue-700 absolute bottom-100 hidden sm:block top-5 right-10 left-auto z-10 font-roboto"
  >
    Featured
  </h3>

  <!-- Carousel wrapper -->
  <div class="relative flex h-full sm:h-96 overflow-hidden z-1">
    <!-- Slide 1 -->
    <div
      class="hidden duration-700 ease-in-out flex items-center w-full z-1 flex-col sm:flex-row"
      data-carousel-item
    >
      <div class="w-full sm:w-3/5 h-full">
        <img
          src="{% if post_with_highest_likes.thumbnail %}
        {{ post_with_highest_likes.thumbnail.url }}
        {% else %}/media/thumbnail/thumbnail.jpg{% endif %}"
          alt="{{ post_with_highest_likes.title }}"
          class="w-full h-full object-cover rounded-l-lg"
        />
      </div>
      <div
        class="w-full sm:w-2/5 h-full bg-gray-100 p-8 flex items-center relative"
      >
        <div>
          <a
            href="{% url 'ArticleDetailView' post_with_highest_likes.author.profile.id%}"
          >
            <h2 class="text-2xl font-bold">
              {{ post_with_highest_likes.title}}
            </h2>
            <p class="text-gray-700 mt-2">
              {{ post_with_highest_likes.articleSnippet}}
            </p></a
          >

          <br />
          <a
            href="{% url 'show_profile_page' post_with_highest_likes.author.profile.id%}"
          >
            <p class="text-gray-600">
              {{post_with_highest_likes.author}} &bull;
              {{post_with_highest_likes.post_date}}
            </p>
          </a>
        </div>
        <h1
          class="block sm:hidden absolute right-8 top-5 text-2xl font-bold text-blue-700 font-roboto"
        >
          Featured
        </h1>
      </div>
    </div>

    <!-- Slide 2 -->
    <div
      class="hidden duration-700 ease-in-out flex items-center w-full z-1 flex-col sm:flex-row"
      data-carousel-item
    >
      <div class="w-full sm:w-3/5 h-full">
        <img
          src="{% if post_with_second_highest_likes.thumbnail %}
        {{ post_with_second_highest_likes.thumbnail.url }}
        {% else %}/media/thumbnail/thumbnail.jpg{% endif %}"
          alt="{{ post_with_second_highest_likes.title }}"
          class="w-full h-full object-cover rounded-l-lg"
        />
      </div>
      <div
        class="w-full sm:w-2/5 h-full bg-gray-100 p-8 flex items-center relative"
      >
        <div>
          <a
            href="{% url 'ArticleDetailView' post_with_second_highest_likes.id%}"
          >
            <h2 class="text-2xl font-bold">
              {{ post_with_second_highest_likes.title}}
            </h2>
            <p class="text-gray-700 mt-2">
              {{ post_with_second_highest_likes.articleSnippet}}
            </p></a
          >
          <br />
          <a
            href="{% url 'show_profile_page' post_with_second_highest_likes.author.profile.id%}"
          >
            <p class="text-gray-600">
              {{post_with_second_highest_likes.author}} &bull;
              {{post_with_second_highest_likes.post_date}}
            </p>
          </a>
        </div>
        <h1
          class="block sm:hidden absolute right-8 top-5 text-2xl font-bold text-blue-700 font-roboto"
        >
          Featured
        </h1>
      </div>
    </div>

    <!-- Slide 3 -->
    <div
      class="hidden duration-700 ease-in-out flex items-center w-full z-1 flex-col sm:flex-row"
      data-carousel-item
    >
      <div class="w-full sm:w-3/5 h-full">
        <img
          src="{% if post_with_third_highest_likes.thumbnail %}
        {{ post_with_third_highest_likes.thumbnail.url }}
        {% else %}/media/thumbnail/thumbnail.jpg{% endif %}"
          alt="{{ post_with_third_highest_likes.title }}"
          class="w-full h-full object-cover rounded-l-lg"
        />
      </div>
      <div
        class="w-full sm:w-2/5 h-full bg-gray-100 p-8 flex items-center relative"
      >
        <div>
          <a
            href="{% url 'ArticleDetailView' post_with_third_highest_likes.id%}"
          >
            <h2 class="text-2xl font-bold">
              {{ post_with_third_highest_likes.title}}
            </h2>
            <p class="text-gray-700 mt-2">
              {{ post_with_third_highest_likes.articleSnippet}}
            </p></a
          >
          <br />
          <a
            href="{% url 'show_profile_page' post_with_third_highest_likes.author.profile.id%}"
          >
            <p class="text-gray-600">
              {{post_with_third_highest_likes.author}} &bull;
              {{post_with_third_highest_likes.post_date}}
            </p>
          </a>
        </div>
        <h1
          class="block sm:hidden absolute right-8 top-5 text-2xl font-bold text-blue-700 font-roboto"
        >
          Featured
        </h1>
      </div>
    </div>
  </div>

  <!-- Slider indicators -->
  <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3">
    <button
      type="button"
      class="w-3 h-3 rounded-full bg-gray-400"
      data-carousel-slide-to="0"
    ></button>
    <button
      type="button"
      class="w-3 h-3 rounded-full bg-gray-400"
      data-carousel-slide-to="1"
    ></button>
    <button
      type="button"
      class="w-3 h-3 rounded-full bg-gray-400"
      data-carousel-slide-to="2"
    ></button>
  </div>

  <!-- Slider controls -->
  <button
    type="button"
    class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
    data-carousel-prev
  >
    <span
      class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 group-hover:bg-white/50"
    >
      <svg
        class="w-4 h-4 text-black"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 6 10"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M5 1 1 5l4 4"
        />
      </svg>
      <span class="sr-only">Previous</span>
    </span>
  </button>
  <button
    type="button"
    class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
    data-carousel-next
  >
    <span
      class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 group-hover:bg-white/50"
    >
      <svg
        class="w-4 h-4 text-black"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 6 10"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m1 9 4-4-4-4"
        />
      </svg>
      <span class="sr-only">Next</span>
    </span>
  </button>
</div>
