<!DOCTYPE html>
{% load static tailwind_tags %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    {% tailwind_css %} {% load static %}
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="min-h-screen flex flex-col">
    {% include 'nav.html'%}
    <div
            id="cardContainer"
            class="grid grid-cols-1 md:grid-cols-3 sm:grid-cols-2 gap-8 w-full pb-10 "
          >
            {% for post in posts%}
            <div class="blog-cards hover:scale-[1.05] transition-transform duration-300">
              <a href="{% url 'ArticleDetailView' post.id%}">
                <div
                  class="relative flex flex-col my-1 bg-white shadow-sm border border-slate-200 rounded-lg w-full"
                >
                  <div
                    class="relative h-1/2 overflow-hidden text-white rounded-md"
                  >
                    <img
                      src="{% if post.thumbnail %}
                  {{ post.thumbnail.url }}
                  {% else %}/media/thumbnail/thumbnail.jpg
                  {% endif %}"
                      alt="card-image"
                    />
                  </div>
                  <div class="p-4">
                    <div
                      class="mb-4 rounded-full bg-cyan-600 py-0.5 px-2.5 border border-transparent text-xs text-white transition-all shadow-sm w-20 text-center"
                    >
                      POPULAR
                    </div>
                    <h6 class="mb-2 text-slate-800 text-xl font-semibold">
                      {{post.title}}
                    </h6>
                    <p class="text-slate-600 leading-normal font-light text-ellipsis">
                      {{post.articleSnippet}}
                    </p>
                  </div>
              </a>
                  <div class="flex items-center justify-between p-4">
                    <div class="flex items-center">
                      <a href="{% url 'show_profile_page' post.author.profile.id%}" class="flex ">
                      <img
                        alt="Tania Andrew"
                        src="{% if post.author.profile.profileImage %}
                {{ post.author.profile.profileImage.url }}
                {% else %}/media/thumbnail/thumbnail.jpg
                {% endif %}"
                        class="relative inline-block h-8 w-8 rounded-full"
                      />
                      <div class="flex flex-col ml-3 text-sm">
                        <span class="text-slate-800 font-semibold"
                          >{{post.author}}</span
                        >
                        <span class="text-slate-600"> {{post.post_date}} </span>
                      </div></a>
                    </div>
                  </div>
                </div>
            </div>
            {% endfor %}
          </div>
    {% include 'footerCode.html'%}
  </body>

  <script></script>
</html>
