<!DOCTYPE html>
{% load static tailwind_tags %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    {% tailwind_css %} {% load static %}
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="min-h-screen flex flex-col">
    {% include 'nav.html'%}
    <div class="flex-1 px-5 md:px-32 py-10">
      <div>
        {% if not found %}
        <h1 class="text-xl">
          <span class="font-semibold text-red-600 underline">{{values}}</span>
          Not found
        </h1>
        <h1 class="text-2xl font-semibold my-10" style="font-family: lato">
          Instead Showing Top Posts
        </h1>
        {% else %}
        <h1 class="text-2xl font-semibold my-10" style="font-family: lato">
          Showing Posts related to {{values}}
        </h1>
        {% endif %}
      </div>
      <div
        id="cardContainer"
        class="w-full grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6"
      >
        {% for post in posts%} {% include 'cards.html'%} {% endfor %}
      </div>
    </div>

    {% include 'footerCode.html'%}
  </body>

  <script></script>
</html>
