{% load static tailwind_tags%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% tailwind_css %} {% load static %}
    <title>{{page_user.user}} - Profile</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  </head>
  <body class="min-h-screen flex flex-col">
    {%include 'nav.html'%}
    <div class="flex justify-center w-full h-[60%]">
      <div class="flex flex-col w-[90%]">
        <div class="w-full">
          <div
            class="relative w-full"
            style="--img: url({% if page_user.user.profile.profileImage %}{{ page_user.user.profile.profileImage.url }}{% else %}/media/thumbnail/thumbnail.jpg{% endif %});"
          >
            <div
              class="absolute ml:left-[5%] ml:bottom-[-20%] left-1/2 top-1/2 translate-x-[-50%] translate-y-[-50%] ml:translate-x-0 ml:translate-y-1/4 size-[180px] sm:size-[210px] rounded-full border-4 border-white shadow-lg"
              style="
                background: var(--img);
                background-size: cover;
                background-position: center;
              "
            ></div>
            <img
              class="object-cover h-[400px] w-full rounded-[20px] m-0"
              src="{% if page_user.user.profile.profileBackground %}{{ page_user.user.profile.profileBackground.url }}{% else %}/media/thumbnail/thumbnail.jpg{% endif %}"
              alt=""
            />
          </div>
          <div></div>
        </div>
        <div
          class="grid grid-rows-reverse grid-rows-[1fr_auto] lg:grid-cols-[1fr_2fr] gap-3"
        >
          <ul class="sm:px-5 mt-[50px] sm:mt-[100px] ml-5">
            <li class="text-xl" class="font-family:lato">
              Working as
              <span class="font-bold">{{page_user.position}}</span> at
              <span class="font-bold">{{page_user.industry}}</span>
            </li>
            <hr class="mt-5" />
            <ul class="list-disc">
              <h1 class="mt-5 text-3xl text-blue-700 font-semibold mb-5">
                Skills
              </h1>
              {% for skill in skills %}
              <li class="text-lg text-slate-800" class="font-family:lato">
                {{skill}}
              </li>
              {% endfor %}
            </ul>
            <hr class="mt-5" />
            <ul class="list-disc">
              <h1 class="mt-5 text-3xl text-blue-700 font-semibold mb-5">
                Education
              </h1>
              {% for edu in education %}
              <li class="text-lg text-slate-800" class="font-family:lato">
                {{edu}}
              </li>
              {% endfor %}
            </ul>
          </ul>
          <div class="mt-5 flex flex-col gap-5">
            <h1 class="text-4xl font-bold" style="font-family: lato">
              {{page_user.user.first_name}}&nbsp;{{page_user.user.last_name}}
            </h1>
            <h1 class="text-2xl mb-5 text-slate-600" style="font-family: lato">
              @{{page_user.user|lower}}
            </h1>
            <hr />
            <h1
              class="text-xl text-blue-700 font-semibold"
              style="font-family: lato"
            >
              {{page_user.occupation}}
            </h1>

            <h1 class="text-md sm:text-lg mb-5" style="font-family: lato">
              {{page_user.bio}}
            </h1>
            <div>
              <h1 class="text-lg text-slate-800 mb-3">
                Total Posts :
                <span class="font-bold text-slate-900">{{total_posts}}</span>
              </h1>
              <h1 class="text-lg text-slate-800">
                Total Likes :
                <span class="font-bold text-slate-900"> {{total_likes}}</span>
              </h1>
            </div>

            <div>
              <h1
                class="text-xl text-blue-700 font-semibold mt-5"
                style="font-family: lato"
              >
                Contact Information
              </h1>
              <hr class="mt-5 mb-5" />
              <a href="mailto:{{page_user.user.email}}"
                ><i
                  class="bx bxl-gmail text-2xl text-red-500 translate-y-1/4"
                ></i
                >&nbsp;&nbsp;{{page_user.user.email}}</a
              >
              <a class="ml-4"
                ><i
                  class="bx bxs-phone text-2xl text-blue-600 translate-y-1/4"
                ></i>
                {{page_user.contact}}</a
              >
            </div>
            <a href=""
              ><i class="bx bxs-map text-2xl text-slate-500 translate-y-1/4"></i
              >&nbsp;&nbsp;{{page_user.location}}</a
            >

            <div>
              <h1
                class="text-xl text-blue-700 font-semibold mt-5"
                style="font-family: lato"
              >
                Socials
              </h1>
              <hr class="mt-5 mb-5" />

              <a href="{{page_user.twitter_link}}" class="mr-5 italic"
                ><i
                  class="bx bxl-twitter text-4xl text-cyan-400 translate-y-1/4"
                ></i
                >&nbsp;&nbsp;witcher_geralt</a
              >
              <a href="{{page_user.youtube_link}}" class="mr-5 italic"
                ><i
                  class="bx bxl-youtube text-4xl text-red-500 translate-y-1/4"
                ></i
                >&nbsp;&nbsp;witcherGeralt</a
              >
              <a href="{{page_user.instagram_link}}" class="mr-5 italic"
                ><i
                  class="bx bxl-instagram text-4xl bg-gradient-to-r from-yellow-400 via-pink-500 to-purple-600 bg-clip-text text-transparent translate-y-1/4"
                ></i
                >&nbsp;&nbsp;geralt_of_rivia</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mx-10 lg:mx-20 pb-20">
      <h1 class="m-10 text-blue-700 font-semibold text-4xl">
        Posts By :&nbsp;<span>{{page_user.user}}</span>
      </h1>
      <hr class="mt-5 mb-5" />
      <div class="flex flex-col justify-center items-center">
        <div
          id="cardContainer"
          class="grid grid-cols-1 md:grid-cols-4 sm:grid-cols-2 gap-8 w-full"
        >
          {% for post in posts%}
          <div
            class="blog-cards hover:scale-[1.05] transition-transform duration-300"
          >
            <a href="{% url 'ArticleDetailView' post.id%}">
              <div
                class="relative flex flex-col my-1 bg-white shadow-sm border border-slate-200 rounded-lg w-full"
              >
                <div
                  class="relative h-1/2 overflow-hidden text-white rounded-md"
                >
                  <img
                    src="{% if post.thumbnail %}
                  {{ post.thumbnail.url }}
                  {% else %}/media/thumbnail/thumbnail.jpg
                  {% endif %}"
                    alt="card-image"
                  />
                </div>
                <div class="p-4">
                  <div
                    class="mb-4 rounded-full bg-cyan-600 py-0.5 px-2.5 border border-transparent text-xs text-white transition-all shadow-sm w-20 text-center"
                  >
                    POPULAR
                  </div>
                  <h6 class="mb-2 text-slate-800 text-xl font-semibold">
                    {{post.title}}
                  </h6>
                  <p class="text-slate-600 leading-normal font-light">
                    {{post.articleSnippet}}
                  </p>
                </div>

                <div class="flex items-center justify-between p-4">
                  <div class="flex items-center">
                    <img
                      alt="Tania Andrew"
                      src="{% if post.author.profile.profileImage %}
                {{ post.author.profile.profileImage.url }}
                {% else %}/media/thumbnail/thumbnail.jpg
                {% endif %}"
                      class="relative inline-block h-8 w-8 rounded-full"
                    />
                    <div class="flex flex-col ml-3 text-sm">
                      <span class="text-slate-800 font-semibold"
                        >{{post.author}}</span
                      >
                      <span class="text-slate-600"> {{post.date}} </span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          {% endfor %}
        </div>
        {% if show_load_more %}
        <button
          id="load-more"
          type="button"
          class="text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 p-5 w-[150px] my-10 rounded-xl"
        >
          Load More
        </button>
        {%endif %}
      </div>
    </div>
    {%include 'filtered-load-more.html'%} {%include 'footerCode.html'%}
  </body>
</html>
