<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'header.css' %}" />
    <link rel="stylesheet" href="{% static 'updateBlog.css' %}">
</head>
<header>
    <nav>
        <a href=""
        ><img
                class="headerLogo"
                src="{% static '1to1 invictus logo.png'%}"
                height="50px"
                width="50px"
        /></a>
        <a href="{% url 'blogarea'%}">Home</a>
        <a href="">My Blogs</a>
        <a href="">About</a>
        <a href="">Contact</a>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button class="headerSignUp">Logout</button>
        </form>
    </nav>
</header>
<div class="mainContainer">
    <div class="innerContainer">
        {% if user.id == post.author.id %}
        <form action = "{% url 'updateBlog' post.pk %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.title.label_tag}}</p>
          <p>{{ form.title}}</p>
          <p>{{ form.category.label_tag}}</p>
          <p>{{ form.category}}</p>
          <p>{{ form.image.label_tag}}</p>
          <p>{{ form.image}}</p>
          <p>{{ form.thumbnail.label_tag}}</p>
          <p>{{ form.thumbnail}}</p>
          <label for="hashtagField">Hashtags:</label>
          <input type="text" id="hashtagField" name="hashtags" />
          <p>{{ form.body.label_tag}}</p>
          <p> {{ form.media}}</p>
          <p>{{ form.body}}</p>
            <button class="Post">Save Changes</button>
        </form>
        {% else %}
        <h1>You are not allowed to edit this Post</h1>
        {% endif %}
    </div>
</div>


</body>
<script>
    document.addEventListener("scroll", () => {
        const header = document.querySelector("header");
        if (window.scrollY > 0) {
            header.classList.add("scrolled");
        } else {
            header.classList.remove("scrolled");
        }
    });

    var clearButton = document.getElementById("thumbnail-clear_id")
    clearButton.addEventListener('onclick',()=>{

    })
</script>
</body>
</html>