<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Write Your Blog</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'header.css' %}" />
    <link rel="stylesheet" href="{% static 'writeBlog.css' %}" />
  </head>
  <body>
    <header>
      <nav>
        <a href=""
          ><img
            class="headerLogo"
            src="{% static '1to1 invictus logo.png'%}"
            height="50px"
            width="50px"
        /></a>
        <a href="{% url 'blogarea'%}">Home</a>
        <a href="">My Blogs</a>
        <a href="">About</a>
        <a href="">Contact</a>
        {% if user.is_authenticated %}
        <a
          class="profilePic"
          href="{% url 'editProfile' %}"
          style="
            margin: 0;
            margin-left: auto;
            margin-bottom: 20px;
            margin-right: 10px;
          "
        >
          <img
            class="profilePic"
            style="
              width: 50px;
              height: 50px;
              transform: translateY(15px);
              border-radius: 50%;
              margin-bottom: 10px;
            "
            src="{% if user.profile.profileImage %}
            {{ user.profile.profileImage.url }}
            {% else %}/media/thumbnail/thumbnail.jpg
            {% endif %}"
            alt=""
        /></a>
        {% endif %}
        <form action="{% url 'logout' %}" method="post">
          {% csrf_token %}
          <button class="headerSignUp">Logout</button>
        </form>
      </nav>
    </header>
    <div class="mainContainer">
      <div class="innerContainer">
        <div
          style="
            display: flex;
            align-items: center;
            flex-direction: column;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman',
              serif;
          "
        >
          <img
            style="width: 35px; height: 35px"
            src="{{ user.profile.profileImage}}"
            alt=""
          />
          <h1 style="margin-top: 10px; color: #122459; margin-bottom: 0">
            Create Your Post
          </h1>
          <h4 style="margin-top: 5px; color: #122459">
            Use the form below to Create your Blog
          </h4>
          <a
            style="
              all: unset;
              color: #122e59;
              cursor: pointer;
              margin-bottom: 20px;
            "
            href="{% url 'blogarea'%}"
            >Go back to Home Page</a
          >
        </div>
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <p>{{ form.title.label_tag}}</p>
          <p>{{ form.title}}</p>
          <p>{{ form.articleSnippet.label_tag}}</p>
          <p>{{ form.articleSnippet}}</p>
          <p>{{ form.category.label_tag}}</p>
          <p>{{ form.category}}</p>
          <p>{{ form.image.label_tag}}</p>
          <p>{{ form.image}}</p>
          <p>{{ form.thumbnail.label_tag}}</p>
          <p>{{ form.thumbnail}}</p>
          <!-- <label for="hashtagField">Hashtags:</label>
          <input type="text" id="hashtagField" name="hashtags" /> -->
          <p>{{ form.body.label_tag}}</p>
          <p>{{ form.media}}</p>
          <p>{{ form.body}}</p>
          <button class="Post">Post</button>
        </form>
        {% if form.errors %}
        <div class="form-errors">
          {% for field in form %} {% for error in field.errors %}
          <p>{{ error }}</p>
          {% endfor %} {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
  </body>
  <script>
    document.addEventListener("scroll", () => {
      const header = document.querySelector("header");
      if (window.scrollY > 0) {
        header.classList.add("scrolled");
      } else {
        header.classList.remove("scrolled");
      }
    });
  </script>
</html>
