<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Ink Vara</title>
    {% load static %}
  </head>
  <body>
    {% include 'nav.html'%}
    <div class="fullContainer flex justify-center align-middle flex-col">
      {% include 'frontPageTop.html' %} {% include 'threecolumn.html'%}
      {%include 'startInkVara.html'%} {% include 'workcation.html'%}
    </div>
    {% include 'footerCode.html' %}
  </body>
</html>
