<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template is working</title>
    <h1>Dino</h1>
    <a href = "https://www.youtube.com/watch?v=AepgWsROO4k&list=PLu0W_9lII9ah7DDtYtflgwMwpT3xmjXY9&index=7"> Django Tutorial</a>
</head>
<body>
Hello Niggas
<br>
{{name}} is from {{place}}
<form action="/analyze" method="get">
    <textarea name="text" style="width: 251px; height: 37px;"></textarea>
    <br>
    <input type="checkbox" name="removepunc"> Remove Punctuations
    <br>
    <input type="checkbox" name="capitalize"> Capitalize
    <br>
    <button type="submit"> Analyze </button>
</form>
</body>
</html>