<head>
  <script src="//unpkg.com/alpinejs" defer></script>
  <link
    href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
    rel="stylesheet"
  />
  {% load static %}
</head>

<nav
  class="bg-gray-900 z-[1000000] w-full"
  x-data="{ open: false, dropdown_open:false }"
>
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-evenly">
      <!-- Mobile menu button -->
      <div class="absolute inset-y-0 left-0 flex items-center md:hidden">
        <button
          type="button"
          @click="open = !open"
          class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:ring-2 focus:ring-white focus:outline-none"
          aria-controls="mobile-menu"
          aria-expanded="false"
        >
          <span class="sr-only">Open main menu</span>

          <!-- Icon when menu is closed -->
          <svg
            class="size-6"
            :class="open ? 'hidden':'block'"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
            />
          </svg>

          <!-- Icon when menu is open -->
          <svg
            class="size-6"
            :class="open ? 'block':'hidden'"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>

        <div class="shrink-0 items-center inline-block md:hidden">
          <img class="h-12 w-auto" src="{% static 'inkpot.png'%}" alt="Logo" />
        </div>
      </div>

      <!-- Desktop Menu -->
      <div
        class="flex flex-1 items-center justify-center md:items-stretch md:justify-start"
      >
        <div class="shrink-0 items-center hidden md:inline-block">
          <img class="h-12 w-auto" src="{% static 'inkpot.png'%}" alt="Logo" />
        </div>

        <div class="hidden md:ml-6 md:block">
          <div class="flex space-x-4">
            <a
              href="{% url 'home' %}"
              class="rounded-md px-3 py-2 text-sm font-medium nav-items {% if request.resolver_match.url_name == 'home' %} bg-gray-800 text-white {% else %} text-gray-300 hover:bg-gray-900 hover:text-white{% endif %}"
              >Home</a
            >

            <a
              href="{% url 'blogarea' %}"
              class="rounded-md px-3 py-2 text-sm font-medium nav-items {% if request.resolver_match.url_name == 'blogarea' %} bg-gray-800 text-white {% else %} text-gray-300 hover:bg-gray-900 hover:text-white{% endif %}"
              >Blogs</a
            >

            <a
              href="{% url 'categories_list' %}"
              class="rounded-md px-3 py-2 text-sm font-medium nav-items {% if request.resolver_match.url_name == 'categories_list' or request.resolver_match.url_name == 'categories_detail' %} bg-gray-800 text-white {% else %} text-gray-300 hover:bg-gray-900 hover:text-white{% endif %}"
              >Categories</a
            >

            <a
              href="#"
              class="rounded-md px-3 py-2 text-sm font-medium nav-items text-gray-300 hover:bg-gray-700 hover:text-white"
              >About</a
            >
          </div>
        </div>
      </div>

      <!-- Profile & Search -->
      <div
        class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0"
      >
        <form action="{% url 'searchresult' %}" method="GET">
          <div class="mx-5 translate-x-3 relative z-[100000000]">
            {% include 'search.html' %}
          </div>
        </form>

        {% if user.is_authenticated %}
        <a href="{% url 'writeYourBlog'%}"
          ><button
            class="relative hidden md:inline-flex items-center justify-center p-0.5 ml-3 mt-2 mb-2 text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 hover:text-white"
          >
            <span
              class="relative px-5 py-2.5 text-white bg-gray-900 rounded-md group-hover:bg-transparent"
              >Create</span
            >
          </button>
          <button
            class="relative md:hidden inline-flex mx-4 items-center justify-center p-0.5 ml-3 mt-2 mb-2 text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 hover:text-white"
          >
            <i class="bx bx-plus-circle text-white text-2xl"></i></button
        ></a>

        <div class="relative ml-3">
          <button
            type="button"
            @click="dropdown_open = !dropdown_open"
            class="relative flex rounded-full bg-gray-800 text-sm focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
          >
            <img
              class="size-8 rounded-full"
              src=" {% if user.profile.profileImage %}{{ user.profile.profileImage.url }}{% else %}/media/profile_pics/default_profile_pic.jpg{% endif %}"
              alt="Profile"
            />
          </button>

          <!-- Dropdown -->
          <div
            x-show="dropdown_open"
            class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 ring-1 shadow-lg ring-black/5"
          >
            <a
              href="{% url 'editProfile' %}"
              class="block px-4 py-2 text-sm text-gray-700"
              >Your Profile</a
            >
            {% if user.profile and user.profile.id %}
            <a
              href="{% url 'settings' user.profile.id %}"
              class="block px-4 py-2 text-sm text-gray-700"
              >Settings</a
            >
            {% else %}
            <a
              href="#"
              class="block px-4 py-2 text-sm text-gray-400 cursor-not-allowed"
              >Settings</a
            >
            {% endif %}

            <a
              href="#"
              onclick="event.preventDefault(); document.getElementById('logout-form').submit();"
              class="block px-4 py-2 text-sm text-gray-700"
              >Sign out</a
            >

            <form
              id="logout-form"
              action="{% url 'logout' %}"
              method="POST"
              class="hidden"
            >
              {% csrf_token %}
            </form>
          </div>
        </div>
        {% else %}
        <form action="{% url 'login' %}" method="POST">
          {% csrf_token %}
          <button
            class="relative inline-flex items-center justify-center p-0.5 ml-3 mt-2 mb-2 text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 hover:text-white"
          >
            <span
              class="relative px-5 py-2.5 text-white bg-gray-900 rounded-md group-hover:bg-transparent"
              >Login</span
            >
          </button>
        </form>
        {% endif %}
      </div>
    </div>
  </div>

  <!-- Mobile menu -->
  <div x-show="open" class="md:hidden" id="mobile-menu">
    <div class="space-y-1 px-2 pt-2 pb-3">
      <a
        href="{% url 'home' %}"
        class="block rounded-md bg-gray-900 px-3 py-2 text-base font-medium text-white"
        >Home</a
      >
      <a
        href="{% url 'blogarea' %}"
        class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white"
        >Blogs</a
      >
      <a
        href="{% url 'categories_list' %}"
        class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white"
        >Categories</a
      >
      <a
        href="#"
        class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white"
        >About Us</a
      >
    </div>
  </div>
</nav>

<script>
  // function expand(search, expanded) {
  //   document.querySelectorAll("a.nav-items").forEach((item) => {
  //     expanded === 0
  //       ? item.classList.add("hidden")
  //       : item.classList.remove("hidden");
  //   });

  //   document
  //     .getElementById("search")
  //     .classList.toggle("hidden", expanded === 0);
  //   search.dataset.expanded = expanded === 0 ? "1" : "0";
  // }
</script>
