<script src="https://unpkg.com/@tailwindcss/browser@4"></script>

<div class="bg-white flex justify-center">
  <div
    class="bg-gray-900 w-4/5 h-full rounded-lg grid grid-cols-7 relative overflow-hidden"
  >
    <div
      class="col-span-7 md:col-span-4 flex align-middle justify-center flex-col md:p-10 px-5 py-10"
    >
      <h2
        class="text-3xl mr-10 font-semibold tracking-tight text-balance text-white sm:text-4xl"
      >
        Boost your productivity. <br />Start using our Ink Vara today.
      </h2>
      <p class="mt-6 mr-10 text-lg/8 text-pretty text-gray-300">
        Stay updated with insightful articles, expert opinions, and the latest
        trends in the blogging world. Discover tips and strategies to make your
        blogging journey more effective and engaging.
      </p>
      <div
        class="mt-10 flex items-center justify-center gap-x-6 lg:justify-start"
      >
        <a
          href="#"
          class="rounded-md bg-white px-3.5 py-2.5 text-sm font-semibold text-gray-900 shadow-xs hover:bg-gray-100 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white"
          >Get started</a
        >
        <a href="#" class="text-sm/6 font-semibold text-white"
          >Learn more <span aria-hidden="true">→</span></a
        >
      </div>
    </div>
    <div class="hidden md:block md:col-span-3">
      <img
        class="h-full rounded-md"
        src="https://i0.wp.com/themes.svn.wordpress.org/dark-mode-blog/1.1/screenshot.png"
        alt=""
      />
    </div>
  </div>
</div>
