
.recentPosts{
  position: relative;
  display: inline-block;
  text-align: left;
  margin-top: 50px;
  font-size: xxx-large;
  margin-right: 50%;
}


body{
  overflow-x: hidden;
  background: rgb(240, 240, 240);

}
.CardContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;
    padding: 50px 250px 50px 250px;

}

span{
    font-family: Cambria;
    color: black;
    margin-left: 10px;
    margin-right: 20px;
}

.articleSnippet{
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  text-align:justify;
}

.item{
    flex: 1 1 25%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
    border-radius: 20px;
    background: white;
}

.Cards{
  flex: 1 1 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 10px;
}

.Cards:hover{
   transform: scale(1.01);
   transition: all 0.3s ease-in-out;
}

.CardImages{
    border-radius: 10px;
    width: 100%;
    object-fit: cover;
 }

 h1{
    font-family: Cambria;
    margin-left: 50px;
 }

 .cardTitle{
    all: unset;
    margin-left: 20px;
    text-decoration: none;
    font-family: "Crimson Text", serif;
    font-size: larger;
    color: black;
 }
 .cardTitle:hover{
    color: rgb(58, 58, 58);
 }

 .cardAuthor_Date{
   font-size: medium;
   color: gray;
 }

 .cardCategory{
    all: unset;
    text-decoration: none;
    font-family: "Crimson Text", serif;
    font-size: medium;
    color: black;
    cursor: pointer;
    margin-left: 20px;

 }

 p{
   margin-bottom: 0;
 }


 .ReadMore{
   background-color: #007FFF;
                  padding: 10px;
                  font-family: Cambria;
                  color: white;
                  border: none;
                  width: 150px;
                  cursor: pointer;
                  font-size: large;
 }

 .ReadMore:hover{
   background-color:  #092b9a;
   color: white;
   transition: all 0.3s ease-in-out;
 }




 .FeaturedInnerContainer{
  height: 600px;
  width: 75%;
  background: white;
  display: flex;
  border-radius: 10px;
  align-items: stretch;
  overflow: auto;
 }

















 /* ShowMore Logic */
 .item{
   display: none;
 }

 .item.visible{
   display: flex;
 }

 #show-more{
   padding: 20px;
   font-family: Cambria;
   font-size: large;
   border-radius: 10px;
   border: 1px solid gray;
   margin-left: 50%;
   margin-right: 50%;
   width: 150px;
   margin-bottom: 50px;
 }

 #show-more::after{
   display: inline-block;
   background: url("{% static 'reshot-icon-arrow-chevron-right-WDGHUKQ634.svg' %}");
   width: 20px;
   height: 20px;
   background-size: contain;
 }

 #show-more:hover{
   filter: invert();
 }