
.CardContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 20px;
    padding: 20px;
}

span{
    font-family: Cambria;
    color: black;
    margin-left: 10px;
    margin-right: 20px;
}

.Cards{
    flex: 1 1 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 20px;
}

.Cards:hover{
   transform: scale(1.01);
   transition: all 0.3s ease-in-out;
}

.CardImages{
    border-radius: 20px;
    width: 100%;
    object-fit: cover;
 }

 h1{
    font-family: Cambria;
    margin-left: 50px;
 }

 .cardTitle{
    all: unset;
    margin-left: 10px;
    text-decoration: none;
    font-family: "Crimson Text", serif;
    font-size: larger;
    color: black;
 }
 .cardTitle:hover{
    color: rgb(58, 58, 58);
 }

 .cardAuthor_Date{
   font-size: medium;
   color: gray;
 }

 .cardCategory{
    all: unset;
    text-decoration: none;
    font-family: "Crimson Text", serif;
    font-size: medium;
    color: black;
    cursor: pointer;
 }

 p{
   margin-bottom: 0;
 }


 .ReadMore{
   background-color: #007FFF;
                  padding: 10px;
                  font-family: Cambria;
                  color: white;
                  border: none;
                  width: 150px;
                  cursor: pointer;
                  font-size: large;
 }

 .ReadMore:hover{
   background-color:  #00308F;
   color: white;
   transition: all 0.3s ease-in-out;
 }