.btn-outline-dark {
  background: transparent;
  color: black;
  border: none;
  margin-left: 20px;
}

body {
  position: relative;
}
.logo {
  filter: brightness(0);
}
header {
  position: sticky;
  top: 0;
  z-index: 100;
}
nav {
  backdrop-filter: blur(2px);
}


nav li>a{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navbar-nav .nav-link.active{
  color: black;
}

header.navbar {
  color: white;
}

header.scrolled {
  background: rgb(1, 0, 41);
  color: white;
  transition: all 0.4s ease-in-out;
}

header.scrolled .nav-link {
  color: white;
  transition: all 0.4s ease-in-out;
}
header.scrolled .navbar-brand img {
  filter: brightness(0) invert(1);
  transition: all 0.4s ease-in-out;
}
header.scrolled .navbar-nav .nav-link.active {
  color: white;
}

header.scrolled button {
  background: white;
  transition: all 0.4s ease-in-out;
  border: 1px solid white;
}

header.scrolled
.navbar-nav .nav-link.show {
  color: white;
}

header.scrolled .dropdown-toggle[aria-expanded="true"] {
  color: white;
}

.nav-link.active{
  color: black;
  cursor: pointer;
}