body {
    background: rgb(240, 240, 240);
    width: 100vw;
    min-height: 100vh;
  }
  
  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0;
  }
  
  .profileBgContainer::before {
    content: "";
    background: var(--img);
    background-size: cover;
    width: 210px;
    height: 210px;
    background-position: center;
    position: absolute;
    left: 5%;
    bottom: -20%;
    z-index: 1;
    border-radius: 50%;
    border: 5px solid white;
    filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.2));
  }
  
  .profileBg {
    z-index: 0; /* Ensure the image stays behind the pseudo-element */
  }
  
  .innerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .profileImage {
    border-radius: 50%;
    margin-top: 50px;
  }

  .profileParagraph h1,h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  