





.innerContainer{
    margin-top: 60px;
}

.mainContainer{
    display: flex;
    justify-content: center;
}

body{
    padding-bottom: 50px;
    margin: 0;
    background: rgb(240, 240, 240);
}


label{
    display: block;
    font-family: Cambria;
    font-size: large;
    margin-bottom: 15px;
}
input{
    width: 750px;
    height: 30px;
    padding: 10px;
    font-size: medium;
}

select{
    width: 775px;
    height: 50px;
    padding:10px;
}


textarea{
    resize: none;
    width: 800px;
    height: 600px;
}
.Post{
    background: white;
    border-radius: 5px;
    border: 1px solid gray;
    font-family: Cambria;
    font-size: large;
    padding: 10px;
    width: 100px;
}

.Post:hover{
    filter:invert();
}



