<head>
  {% load static%}
  <link rel="stylesheet" href="{% static 'footer.css'%}" />
</head>

<footer>
  {% load static %}
  <div id="Bottom-info-part">
    <div class="rows">
      <div class="colRows">
        <h1>Help</h1>
        <hr />
        <a href="" style="text-decoration: none; color: whitesmoke"
          >Help Center</a
        >
        <br />
        <a href="" style="text-decoration: none; color: whitesmoke"
          >Help Forums</a
        >
        <br />
        <a href="" style="text-decoration: none; color: whitesmoke"
          >Video Tutorials</a
        >
        <br />
      </div>
      <div class="colRows">
        <h1>Community</h1>
        <hr />
        <a href="" style="text-decoration: none; color: whitesmoke">Ink Vara</a>
      </div>
      <div class="colRows">
        <h1>Work With Us</h1>
        <hr />
        <a style="text-decoration: none; color: white" href=""
          >Instagram&nbsp;&nbsp;<img
            src="{%static 'instagram.svg'%}"
            width="25px"
            height="25px"
            style="filter: invert(); margin-bottom: 10px"
        /></a>
        <br />
        <a style="text-decoration: none; color: white" href=""
          >Twitter&nbsp;&nbsp;<img
            src="{%static 'twitter.svg'%}"
            width="25px"
            height="25px"
            style="filter: brightness(0) invert(1); margin-bottom: 10px"
        /></a>
        <br />
        <a style="text-decoration: none; color: white" href=""
          >Facebook&nbsp;&nbsp;<img
            src="{%static 'facebook.svg'%}"
            width="25px"
            height="25px"
            style="filter: brightness(0) invert(1); margin-bottom: 10px"
        /></a>
        <br />
      </div>
    </div>
    <br />
    <hr width="90%" style="margin-left: 50px" />
    <div
      class="rows"
      style="
        display: flex;
        color: #dcdcdc;
        align-items: center;
        justify-content: space-evenly;
      "
    >
      <a href="" style="text-decoration: none; color: whitesmoke"
        >Terms of Service</a
      >
      <br />
      <a href="" style="text-decoration: none; color: whitesmoke"
        >Privacy Policy</a
      >
      <br />
      <a href="" style="text-decoration: none; color: whitesmoke"
        >Content Policy</a
      >
      <br />
    </div>
  </div>
</footer>
