<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{%static 'loginPage.css'%}" />
    <title>Document</title>
  </head>
  <body>
  <form action="{% url 'signUp'%}" method="post">
    {% csrf_token %}
    <button class="createAccount">Create Account</button>
    <button class="plus"></button>
  </form>

    <div class="container">
      <h1 style="font-family: Cambria;font-weight: normal">Log into Ink Vara</h1>
      <div class="horizontalLine" style="width: 100%;height: 1px;background-color:#b6b6b6;"></div>
      <br>
      <div class="innerContainer" >
        <div class="textArea" >
          <label for="email">EMAIL ADDRESS</label>
          <input type="text" placeholder="example@domain.com" name="email" id="email" style="font-family: Cambria;font-size: medium"/>
          <label for="password">PASSWORD:</label>
          <input type="password" placeholder="Password" name="password" id="password" style="font-family: Cambria;font-size: medium"/>
        </div>
        <div class="verticalLine "style="width: 1px;height: 250px;background-color: #b6b6b6;"></div>
        <div class="rightButtonGroup">
          <form action="" method="POST">
            {% csrf_token %}
            <button class = "rightSide" type="submit" style="margin: 10px"> <img src="{%static 'google.svg'%}" height="20px" width="20px"><span>&nbsp;&nbsp;&nbsp;Continue With Google </span></button>
          </form>
          <br>
          <form action="" method="POST">
            {% csrf_token %}
            <button class = "rightSide" type="submit" style="margin: 10px"> <img src="{%static 'twitter.svg'%}" height="20px" width="20px" style="filter: brightness(0)"><span>&nbsp;&nbsp;&nbsp;Continue With Twitter</span></button>
          </form>
          <br>
          <form action="" method="POST">
            {% csrf_token %}
            <button class = "rightSide" type="submit" style="margin: 10px"> <img src="{%static 'facebook.svg'%}" height="20px" width="20px " style="filter: brightness(0)"><span>&nbsp;&nbsp;&nbsp;Continue With Facebook</span></button>
        </form>
          <br>

        </div>
      </div>
      <br>
      <form action="" method="POST">
        {% csrf_token %}
        <button class="login">Login</button>
      </form>
    </div>
  </body>
</html>
